{% extends 'base.html.twig' %}

{% block title %}Hello ClientAgendaController!{% endblock %}

{% block body %}








    <a href=" {{ logout_url(key = null) }} ">Logout</a> </br>

    {% set coachCalendarUrl = url('app_coach_calendar') %}

    <a href="{{ coachCalendarUrl }}">Go to Coach Calendar</a> </br>

    {% set clientCalendarUrl = url('app_client_calendar') %}

    <a href="{{ clientCalendarUrl }}">Go to client Calendar</a> </br>

{% endblock %}
