<!DOCTYPE html>
<html>
{% include 'security/head.html.twig' %}
    <body>

     <h2>Hey {{ client }}, You have a new training from {{ coach }}</h2>

     <p>Go to your agenda to check it out.</p>

    </body>
</html>

