{% extends 'base.html.twig' %}

{% block title %}Hello ClientAgendaController!{% endblock %}

{% block body %}
    <a href=" {{ logout_url(key = null) }} ">Logout</a>
{% for training in trainings %}

        <p> {{ training.title }} </p>
        <p> {{ training.durationProposed }} </p>
        <p> {{ training.commentCoach }} </p>
{% endfor %}

{% endblock %}
