{% extends 'base.html.twig' %}

{% block title %}Email preferences
{% endblock %}

{% block body %}

    <h2>From what would you like to receive email updates?</h2>

    {{ form(form) }}


{% endblock %}