<!DOCTYPE html>
<html>
{% include 'security/head.html.twig' %}
    <body>

        <p>Glad to hear you want to try out FitPlanner. Click <a href="{{ url('app_register_coach', { 'token': token }) }}">here</a> to register.</p>

    </body>
</html>

