<!DOCTYPE html>
<html>
{% include 'security/head.html.twig' %}
    <body>

    <p>Click <a href="{{ url('app_account_reset_pass', {'token': token}) }}">here</a> to reset your password.</p>

    </body>
</html>

